<div class="profileContainer">
    
    <div class="jumbotron profileJumbotron">

        
        <img src="css/AdobeStock_190074252 [Converted].png" class='globe2' >
       
        <h1 class="currenciesTitle display-1">Welcome back, <%= currentUser.name %></h1>
        <h2>View your favorites by clicking the button below</h2>
        
        
        <hr class="my-4">
        
        <a class="btn btn-primary btn-lg" href="/favorites" role="button">View Favorites</a>
       
    </div> 
    


<!-- // add a form with the abilities to update new data profile pic and bio -->



</div>
